/* Playfair Display: Regular, Medium, Semibold, Bold */
/* Source Sans Pro: Light, Regular, Semibold */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@layer base {
  @font-face {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

/* BEM Naming conventions */
/* Utilities */
.button {
	@apply block mt-4 bg-green-300 hover:bg-green-400 transition delay-150 
	text-center text-white w-full py-2 cursor-pointer;
}
.button--header {
	@apply inline-flex py-2 pl-4 pr-6 font-bold text-white text-xl;
}
.button--back {
	@apply button--header bg-pink-dark rounded-l;
}
.button--input {
	@apply button--header bg-green-600 rounded-r;
}
.icon--header {
	@apply inline-block m-auto mr-2;
}

/* Dashboard */
.all__container {
	@apply grid grid-cols-12;
}
.sidebar__container {
	@apply col-span-2;
}
.body__container {
	@apply bg-layout col-span-10 bg-gray-100;
}
.body__second__container {
	@apply block bg-white min-h-screen rounded-tl-lg mt-24 ml-12;
}
.body__table__container {
	@apply body__second__container p-10 overflow-x-scroll;
}
.body__form__container {
	@apply body__second__container p-20;
}
.form__group {
	@apply pb-5;
}
.form__group small {
	@apply text-gray-300;
}
.form__control {
	@apply block w-full border p-3;
}
.form__upload {
	@apply mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md;
}
.form__upload--img {
	@apply mx-auto h-12 w-12 text-gray-400;
}
.form__upload--file {
	@apply flex text-sm text-gray-600;
}
.form__upload--file label {
	@appply relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500;
}

/* Loading */
.ipl-progress-indicator.available{opacity:0}.ipl-progress-indicator{@apply bg-pink-dark;width:100%;height:100%;position:fixed;opacity:1;pointer-events:none;-webkit-transition:opacity cubic-bezier(.4,0,.2,1) 436ms;-moz-transition:opacity cubic-bezier(.4,0,.2,1) 436ms;transition:opacity cubic-bezier(.4,0,.2,1) 436ms;z-index:9999}.insp-logo-frame{display:-webkit-flex;display:-moz-flex;display:flex;-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;-webkit-justify-content:center;-moz-justify-content:center;justify-content:center;-webkit-animation:fadein 436ms;-moz-animation:fadein 436ms;animation:fadein 436ms;height:98%}.insp-logo-frame-img{width:112px;height:112px;-webkit-align-self:center;-moz-align-self:center;align-self:center;border-radius:50%}.ipl-progress-indicator-head{background-color:#c6dafc;height:4px;overflow:hidden;position:relative}.ipl-progress-indicator .first-indicator,.ipl-progress-indicator .second-indicator{background-color:#056d8b;bottom:0;left:0;right:0;top:0;position:absolute;-webkit-transform-origin:left center;-moz-transform-origin:left center;transform-origin:left center;-webkit-transform:scaleX(0);-moz-transform:scaleX(0);transform:scaleX(0)}.ipl-progress-indicator .first-indicator{-webkit-animation:first-indicator 2s linear infinite;-moz-animation:first-indicator 2s linear infinite;animation:first-indicator 2s linear infinite}.ipl-progress-indicator .second-indicator{-webkit-animation:second-indicator 2s linear infinite;-moz-animation:second-indicator 2s linear infinite;animation:second-indicator 2s linear infinite}.ipl-progress-indicator .insp-logo{animation:App-logo-spin infinite 20s linear;border-radius:50%;-webkit-align-self:center;-moz-align-self:center;align-self:center}@keyframes App-logo-spin{from{transform:rotate(0)}to{transform:rotate(360deg)}}@-webkit-keyframes fadein{from{opacity:0}to{opacity:1}}@-moz-keyframes fadein{from{opacity:0}to{opacity:1}}@keyframes fadein{from{opacity:0}to{opacity:1}}@keyframes first-indicator{0%{transform:translate(0) scaleX(0)}25%{transform:translate(0) scaleX(.5)}50%{transform:translate(25%) scaleX(.75)}75%{transform:translate(100%) scaleX(0)}100%{transform:translate(100%) scaleX(0)}}@keyframes second-indicator{0%{transform:translate(0) scaleX(0)}60%{transform:translate(0) scaleX(0)}80%{transform:translate(0) scaleX(.6)}100%{transform:translate(100%) scaleX(.1)}}
.x-scroll:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 15px;
	pointer-events: none;
	background-image: linear-gradient(to right, rgba(255,255,255,0), white 90%);
	width: 30%;
}
.custom__scrollbar {
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}